.container__auth {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow-y: hidden;
    position: relative;
    background-color: white;
}

.container__auth-into {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.err__message {
    font-size: 12px;
    color: red;
    height: 14px;
    position: absolute;
}

.auth__figure {
    background-color: #0e052a;
    width: 500px;
    height: 500px;
    position: absolute;
    rotate: 45deg;
}