.avatar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.avatar__container p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.w-30 {
    width: 30%;
}

.header {
    height: 60px;
}